.main-container{
    background-image: url('../../Image/Rectangle 1.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
   
}
.hotels-container{
    display: flex;
    position: relative;
    height: 100%;
    
}
